.container {
  display: block;
  position: absolute;
  height: 1000vh;
  width: 100%;
  top: 84px;
  left: 0;
  background-color: var(--light-color);
  opacity: 90%;
  z-index: 6;
}

.hidden {
  display: none;
}

.menu_navigation {
  height: 100vh;
  padding-left: 32px;
  padding-top: 72px;

  color: var(--main-color);
  font-weight: 700;
  line-height: 1.3;

  opacity: 0.95;
  background: var(--light-color);
}
.menu_list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.menu_link {
  display: flex;
  gap: 12px;
  color: var(--main-color);
  cursor: pointer;
}

.menu_link:hover {
  color: var(--white-color);
  .svg_el path {
    stroke: var(--white-color);
    fill: var(--white-color);
  }
}

/* NavMenu.module.css */
.no-scroll {
  overflow: hidden;
}
/* .menu_item {
} */
