.menu-container {
  --position: translateX(calc(-100% - 13px));
}

.menu-navigation {
  height: 100vh;
  padding-left: 32px;
  padding-top: 72px;

  color: var(--main-collor);
  font-family: "Play";
  font-weight: 700;
  line-height: 1.3;
  opacity: 0.95;
  background: var(--light-color);
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.menu-item {
}

.menu-link {
  display: flex;
  gap: 12px;
  color: var(--main-collor);
  cursor: pointer;
}
