.footer {
  padding: 24px 20px 49px 20px;

  color: var(--main-color);
}

.blocksWrap {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: 18px;
}

.navList > li:hover {
  color: var(--font-hover-color);
}

.logo {
  margin-bottom: 31px;
}

.socialsList {
  display: flex;
  gap: 11px;
}

.socialsList > li:hover svg {
  fill: var(--white-color);
}

.copyright {
  font-size: 16px;
  font-weight: 400;
}
