.section {
  position: relative;
  margin: 0 auto;
  max-width: 480px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 700px;
  width: 100%;
  max-width: 480px;
  width: 100vw;

  color: var(--ultra-light-color);
  background-image: url("../../../../public/images/hero-image-390.jpg");
  background-position: 50% 8%;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.section .pictSmall {
  position: absolute;
  top: 121px;
  left: 152px;
  z-index: 2;
}

.textWrap {
  position: absolute;
  top: 80px;
  margin-left: 20px;

  color: var(--ultra-light-color);
}

.slogan {
  width: 255px;

  font-family: var(--font-roboto-condensed);
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.btnWrap {
  position: absolute;
  top: 330px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 235px;
  margin-left: 20px;
}

.btnFind {
  border: 2px solid var(--accent-color);
  background: var(--accent-color);

  color: var(--ultra-light-color);
}

.btnFind:hover {
  background: transparent;
  color: var(--accent-color);
}

.btnCreate {
  border: 2px solid #e96e25;
  color: var(--accent-color);
}

.btnCreate:hover {
  background: var(--accent-color);
  color: var(--ultra-light-color);
}
