:root {
  --main-collor: #266294;
  --light-color: #cfe7f5;
  --extra-light-color: #ebf8ff;
  --ultra-light-color: #f8f7f7;
  --accent-color: #e96e25;
  --pale-color: #766f6f;
  --dark-text-color: #111111;
}
