.header-container {
  height: 84px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 49px;

  border: 1px solid blueviolet;
}
